<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Snake</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <div class="menu">
              <h1>Snake</h1>
              <nav>
                <ul>
                  <li><a href="/">Главная</a></li>
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">О нас</a></li>
                  <li><a href="/registration">Регистрация</a></li>
                  <li><a href="#">Вход</a></li>
                </ul>
              </nav>
        </div>>
    </header>

    <div class="promt">
      <div class="arrows">
        <img src="/public/img/стрелки клавиатуры.png" alt="Здесь должна быть картинка.">
      </div>
      <div class="promt-text">
        Используйте стрелки клавиатуры для управления змейкой в игре.
         Вы также можете использовать клавиши W, A, S, D. Если змейка
         не реагирует на нажатия, то кликните по игровому полю, чтобы
         сделать его активным. Кстати, здесь может быть ваша реклама!
      </div>
    </div>
    <div class="container">

      <div id='game' oncontextmenu= "return false">
        <canvas width="600" height="600" id='background'></canvas>
        <canvas width="600" height="600" id='foreground'></canvas>
        <canvas width="600" height="600" id='particles'></canvas>
        <canvas width="600" height="600" id='interface' ></canvas>
      </div>

      <style>
        #game {
          width: 600px;
          height: 600px;
          position: relative;
          border: 2px solid black;
        }

        canvas { position: absolute; }
        #background { z-index: 1; }
        #foreground { z-index: 2; }
        #particles  { z-index: 3; }
        #interface  { z-index: 4; }
      </style>

      <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
      <script src="/public/Classes/Drawer.js"></script>
      <script src="/public/Classes/Field.js"></script>
      <script src="/public/Classes/Particle.js"></script>
      <script src="/public/Classes/Snake.js"></script>
      <script src="/public/Classes/Apple.js"></script>
      <script src="/public/Classes/Portal.js"></script>
      <script src="/public/Classes/MainMenu.js"></script>
      <script src="/public/Classes/User.js"></script>
      <script src="/public/Game.js"></script>

      <div class="comments">
        <h3>Чат</h3>
      </div>

      </div>

    <div class="leaderboard">
      <h3>Таблица лидеров</h3>
      <div class="leaderboard-text">
        <p>
          1. Test <br> test
        </p>
      </div>
    </div>
</body>
</html>
